@import url(./variables.css);

body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: "Pathway Extreme", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.4s;
  background-color: --button;
  border-radius: 5px;
  padding: 10px 20px;
}
body {
  height: 100vh;
  color: var(--text);
  background: linear-gradient(0deg, #2f1616 0%, #905d23 100%);
}
/*@font-face {
  font-family: 'Pathway Extreme', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(font-family:"Pathway Extreme", sans-serif;) format("woff2");
}*/
