@import url(./variables.css);

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  background-image: url("https://images.unsplash.com/photo-1520699514109-b478c7b48d3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-color: var(--background);
  mix-blend-mode: hard-light;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: "Pathway Extreme", sans-serif;
}

a,
.green {
  text-decoration: none;
  color: var(--text);
  transition: 0.4s;
  border-radius: 5px;
  padding: 10px 20px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--shadows);
  }
}

/*@font-face {
  font-family: 'Pathway Extreme', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(font-family:"Pathway Extreme", sans-serif;) format("woff2");
}*/
