@import url(./variables.css);

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  background: rgb(67, 37, 33);
  background: linear-gradient(
    0deg,
    rgb(194, 65, 48) 0%,
    rgb(251, 192, 89) 50%,
    rgb(255, 214, 144) 100%
  );
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: "Pathway Extreme", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.4s;
  background-color: --button;
  border-radius: 5px;
  padding: 10px 20px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--shadows);
  }
}

/*@font-face {
  font-family: 'Pathway Extreme', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(font-family:"Pathway Extreme", sans-serif;) format("woff2");
}*/
