:root {
  /*Dark Mode*/
  --black: #1b1626;
  --navy: rgb(0, 2, 128);
  --orange: #f29544;
  --magneta: #d72e80;
  --purple: #69208d;
  --blue: rgb(88, 62, 241);

  /*Light Mode*/
  --dark-brown: #2f1616;
  --red-orange: rgb(194, 65, 48);
  --orange: rgb(216, 108, 49);
  --dark-yellow: #deb74c;
  --yellow: #f0d274;
  --off-white: #efeeff;
  --golden: #c27b2a;

  /*Intentions */
  --background: var(--navy);
  --accent: var(--golden);
  --button: var(--magneta);
  --text: var(--off-white);
  --box1: var(--blue);
  --shadow: var(--purple);
  
  /*Typography */
  --h1: 7rem;
  --h2: 5rem;
  --h3: 3rem;
  --h4: 2rem;
  --h5: 1rem;
}
