:root {
  /*Dark Mode*/
  --black: #1b1626;
  --navy: #2a2640;
  --orange: #f29544;
  --red: #a64e46;
  --purple: #734656;
  --blue: rgb(82, 137, 255);

  /*Light Mode*/
  --dark-brown: #2f1616;
  --red-orange: rgb(194, 65, 48);
  --orange: rgb(216, 108, 49);
  --dark-yellow: #deb74c;
  --yellow: #f0d274;
  --off-white: #fefae0;
  --golden: #c27b2a;

  /*Intentions */
  --background: var(--red-orange);
  --accent: var(--golden);
  --button: var(--blue);
  --text: var(--off-white);
  --box1: var(--red);
  --shadow: var(--dark-brown);
  --border: var(--dark-yellow);

  /*Typography */
  --h1: 7rem;
  --h2: 5rem;
  --h3: 3rem;
  --h4: 2rem;
  --h5: 1rem;
}
